<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>

    <h1>Announcements</h1>
    <br>
    <% if @is_admin %>
  
      <br><br>
      <b><h3>New Announcement</h3></b>
      <% if @error %>
        <p><b><%= @error %></b></p>
      <% end %>
      <center>
        <%= form_for(@announcement) do |f| %>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit('Post') %>
        <% end %>
      </center>
      <br>
    <% end %>

    <% @announcements.each do |announcement| %>
      <div class='box'>
        <b><%= announcement.title %></b>
        <br>
        <p><%= announcement.message %></p>
        <% if @is_admin %>
          <br>
          <%= link_to('edit', edit_announcement_path(announcement), :class => 'action edit', :class => 'underline') %>
          <%= link_to('delete', delete_announcement_path(announcement), :class => 'action delete', :class => 'underline') %>
        <% end %>
      </div>
      <br>
    <% end %>

  </div>
</div>
