<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Status:</strong>
      <%= @meeting.status %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @meeting.name %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @meeting.date %>
    </p>

    <%= link_to 'Edit', edit_meeting_path(@meeting), :class => 'underline' %> |
    <%= link_to 'Back', meetings_path, :class => 'underline' %>

    <%= link_to("Join Meeting", new_join_path(:meeting_id => @meeting.id, :member_id => 1), :class => 'underline')%>

  </div>
</div>
