<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Active:</strong>
        <% if @event.status == true %>
          <td> Yes </td>
        <% else %>
          <td> No </td>
        <% end %>
    </p>

    <p>
      <strong>Activity Type:</strong>
      <% @activity = Activity.find(@event.activity_id) %>
      <%= @activity.name %>
    </p>

    <% @member_id = Member.where(uid: current_admin.uid).first().id %>

    <% if (MemberPoint.exists?(:member_id => @member_id, :event_id => @event.id) == false && @event.status == true) %>
      <%= link_to("Join this event", member_points_path(:member_point => @memberpoint, :event_id => @event.id, :member_id => @member_id, :activity_id => @event.activity_id, :points => @activity.num_points), method: :create) %> |
    <% end %>


    <% if @is_admin %>
      <%= link_to 'Edit', edit_event_path(@event) %> |
    <% end %>
    <%= link_to 'Back', events_path %>

  </div>
</div>
