<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>

    <p id="notice"><%= notice %></p>

    <h1>Members</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>Owner?</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.name %></td>
            <td><%= member.totalPoints %></td>
            <td><%= member.email %></td>
            <% if member.isAdmin %>
              <td> Yes </td>
            <% else %>
              <td> No </td>
            <% end %>
            <% if member.isOwner %>
              <td> Yes </td>
            <% else %>
              <td> No </td>
            <% end %>
            <td><%= link_to 'View Bio', member, :class => 'underline' %></td>
            <br>
            <% if @is_admin or member.uid == @current_member.uid %>
              <td><%= link_to 'Edit', edit_member_path(member), :class => 'underline' %></td>
              <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'underline' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
