<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @member.name %>
    </p>

    <p>
      <strong>Points:</strong>
      <%= @member.totalPoints %>
    </p>

    <p>
      <strong>Bio:</strong>
      <% @member_id = Member.where(uid: current_admin.uid).first().id %>
      <% @bio = Bio.where(member_id: @member.id) %>
      <% if @bio.empty? && @member_id == @member.id %>
        <%= link_to 'Add a bio', new_bio_path(@bio), :class => 'underline' %>
      <% else %>
        <% if @bio.empty? == false %>
          <%= @bio.first().body %>
        <% end %>
        <% if @member_id == @member.id %>
          <%= link_to 'Edit Bio', edit_bio_path(@bio.first()), :class => 'underline' %>
        <% end %>
      <% end %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @member.isAdmin %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @member.isOwner %>
    </p>


    <% @posts.each do |post| %>
      <div class='box'>
        <b><%= post.title %></b>
        <p><%= post.body %></p>
        <p>Likes:<%= post.numlikes %></p>
        <% @user = Member.find(post.member_id) %>
        <p>By:<%= @user.name %></p>
        <br>
        <% @member_id = Member.where(uid: current_admin.uid).first().id %>
  
        <% if(Like.exists?(:member_id => @member_id, :post_id => post.id)) %>
          <% @like = Like.find_by(member_id: @member_id, post_id: post.id) %>
          <%= link_to("Un-like This Post", delete_like_path(@like, :post_id => post.id, :member_id => @member_id), data: { confirm: 'Are you sure?' }) %>
        <% else %>
          <%= link_to("Like This Post", likes_path(:like => @like, :post_id => post.id, :member_id => @member_id), method: :create) %>
        <% end %>
        
        <% if @member_id == post.member_id %>
          <%= link_to 'Edit Post', edit_post_path(post) %>
        <% end %>
  
        <% if @is_admin || @member_id == post.member_id %>
          <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <br>
    <% end %>


    <% if @is_admin or @member.uid == current_admin.uid %>
      <%= link_to 'Edit', edit_member_path(@member) %> |
    <% end %>
    <%= link_to 'Back', members_path %>
  </div>
</div>
